/*============================================================

	Theme Name: web123-child
	Theme URI: http://www.web123.com.au
	Author: http://www.web123.com.au
	Author URI:
	Version: 1.0
	Description:
	Template: web123
	Text Domain: web123

============================================================*/
@import url('href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,700,800"');

/*# sourceMappingURL=style.css.map */
.header_inner_right
{
display:none !important;
}
nav.main_menu>ul>li>a {
    position: relative;
    /* padding: 4px 12px; */
    color: #9d9d9d;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #303030 !important;
    /* font-family: 'Open Sans', sans-serif; */
    display: block;
    text-transform: capitalize;
}

header:not(.with_hover_bg_color) nav.main_menu>ul>li>a>span:not(.plus), nav.vertical_menu>ul>li>a>span:not(.plus) {
    position: relative;
    display: inline-block;
    line-height: initial;
    color: black;
    font-weight: bolder;
    font-size: 14px;
    font-weight: 700;
    font-family: sans-serif;
}

nav.main_menu>ul>li.active>a {
    color: #303030 !important;
}

header .container_inner .header_inner_left {
    position: absolute;
    left: 17% !important;
    top: 0;
}
nav.main_menu.right
{
	left: -9% !important;
}

.qode_grid_1300 .carousel-inner .slider_content_outer, .qode_grid_1300 .container_inner, .qode_grid_1300 .container_inner nav.content_menu, .qode_grid_1300 .footer_bottom_border.in_grid, .qode_grid_1300 .footer_top_border.in_grid, .qode_grid_1300 .full_width .parallax_content, .qode_grid_1300 .grid_section .section_inner, .qode_grid_1300 .title_border_in_grid_holder, .qode_grid_1300 nav.content_menu ul, .qode_grid_1300.boxed .section .section_inner, .qode_grid_1300.boxed nav.content_menu.fixed
{
	width:100% !important;
}

a:hover, p a:hover {
    color: #fe0000;
    text-decoration: none;
}
.heading-class
{
	text-align: center;
    font-size: 24px;
    color: #000000;
    line-height: 35px;
    margin: 0;
    text-transform:none;
	font-weight: 800;
}
.heading-class2
{
	font-size: 12px;
    font-weight: 600;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    line-height: 21px
}
.col-services
{
padding-left: 27%;
}
.col-4 {
    width:20%;
	float: left;
    padding: 0 15px;
    position: relative;
    min-height: 1px;
}
@media only screen and (max-width: 500px) {
	.col-4 {
    width: 57%;
	float: left;

    position: relative;
	clear:both;
    min-height: 1px;
}
}
@media only screen and (max-width: 500px) {
	.footer-lower-item {
    float: left;
    width:33%;
    margin-left: 50px !important;
	position: relative;
	clear:both;
    border-bottom: 1px solid #dedede;
    min-height: 380px;
}

}

@media only screen and (max-width: 500px) {
.d_page-content
{
    line-height: 16px;
    font-family: sans-serif;
    color: #000000;
    width: 264px !important;
    min-width: 197px;
    right: 2%;
    position: relative;	
}
}

@media only screen and (max-width: 500px) {
	.class-about-us-txt {
    font-family: serif;
    line-height: 35px;
    font-size: 17px;
    color: #000000;
    padding-right: 5% !important;
    padding-left: 2% !important;
    font-weight: normal;
}
.title-above
{
	    padding-right: 14%;
}
.class-listing2
{
	       right: 43% !important;
}
}

.cms-contentimage-fill {
    display: block;
    margin: 1em auto;
    text-align: center;
}

.tc-featureA {
    color: #fe0000 ! important;
}
.class-find-more
{
	color: #fff;
    padding-top: 31px;
    padding-bottom: 25px;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	text-transform: capitalize;
}
.t115-footer-wrap {
    padding: 0;
}
.t115-footer-wrap {
    padding: 32px 0;
    background: #f4f4f4 url(/matt/strut/wp-content/uploads/2017/07/footer_bg.png) top left repeat;
}
.t115-footer-lower-anchor.empty .t115-footer-lower-anchor-inner, .t115-footer-upper-anchor.empty .t115-footer-upper-anchor-inner {
    padding: 0px;
}
.t115-footer-upper-anchor-inner {
    padding: 0px 0 35px;
}
.t115-wrapper {
    width: 990px;
    margin: 0 auto;
}
.t115-footer-lower-anchor-inner {
    padding: 35px 0 0 0;
}
.footer-lower-item.first {
    margin-left: 0px;
}
.footer-lower-item {
    float: left;
    width: 210px;
    margin-left: 50px;
    border-bottom: 1px solid #dedede;
    min-height: 380px;
}
.footer-lower-item li, .footer-lower-item p, .footer-lower-item div {
    font-size: 11.5px;
}
.footer-lower-item h3 {
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.new_v01, p.new_v01 input, .i001-detail-price-button.i001-css-button input, p.style-button input[type='submit'] {
    background-color: #fe0000;
    background-image: linear-gradient(#fe0000, #fe1919);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr="#fe0000", endColorstr="#fe1919");
    border-radius: 3px;
}
.class-btn-readmore
{
	padding-top: 7px;
    padding-left: 21px;
    padding-right: 19px;
    padding-bottom: 7px;
    color: #fff;
	font-family: 'Open Sans', sans-serif;
}
.class-btn-readmore:hover
{
	color:#fff;
}
.d_page-content
{
line-height: 16px;
font-family: sans-serif;
color: #000000;
width: 443px;
min-width:200px;	
}
.class-about-us-txt
{
    font-family: serif;
    line-height: 35px;
    font-size: 17px;
    color: #000000;
    padding-right: 47%;
    font-weight: normal;
}
.class-listing1
{
    float: left;
    line-height: 15px;
}
.class-listing2
{
   
    position: absolute;
    right:29%;
    line-height: 15px;	
}
.footer-lower-item.flw {
    width: 470px;
}

.class-about-us-tx
{
    padding-top: 17px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 28px;
    color: #000000;
}
p.es-intro {
    color: #fe0000;
    font-size: 140%;
}
.class-pro-desc-list
{
	font-size: 14px;
    color: #000000;
    line-height: 16px;
}
.tc-bodytext {
    color: #000000 ! important;
}
.tc-featureA {
    color: #fe0000 ! important;
	padding-bottom:0px;
	font-family: 'Open Sans', sans-serif;
    font-weight: 600;
	line-height: 13px;
}
.class-why
{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000000;
    line-height: 35px;
    font-weight: 600;	
}
.t115-main {
    background: #ffffff;
    padding: 50px 0;
}
.t115-wrapper {
    width: 990px;
    margin: 0 auto;
}
.sidebar-left .t115-sidebar {
    width: 277px;
    margin-left: -66px;
	float: left;
}
.empty .t115-content {
    margin: 0px;
    padding: 0;
}
.i001-business-listing {
    overflow: hidden;
    margin-top: 10px;
    padding-top: 10px;
}
.i001-business-listing-categories {
    float: left;
    width: 253px;
}
.i001-listing-category0 {
    background: #efefef;
    border-radius: 4px;
    padding: 19px 58px 15px 21px;
    width: 120px;
}
.i001-listing-category3 h3 {
    color: #000000;
	padding-bottom: 10px;
}
.i001-business-listing-categories ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.i001-business-listing-categories li {
    margin-bottom: 5px;
}
.i001-business-listing-list {
    margin-left: 250px;
    padding-left: 15px;
}
.i001-list {
    margin-bottom: 11px;
}
.i001-list-item {
    overflow: hidden;
    border-top: 1px dashed #e5e5e5;
    padding: 16px 0 18px;
}

h4 {
    font-weight: normal;
    color: #fe0000 !important;
    font-family: 'Open Sans', sans-serif;
	font-size:16px;
}
table.class-info-contain
{
	line-height: 15px;
    margin-top: 23px;
}
table th
{
	    color: #000000;
}
table tr
{
	line-height:15px;
}
table td {
    padding: 5px 10px;
    font-size: 14px;
    color: #000000;
    text-align: left !important;
}
.drop_down .narrow .second .inner ul li a {
    padding-left:15px;
    padding-right: 20px;
    padding-top: 6px;
    /* margin-left: -7px; */
    color: #ffffff;
    font-weight: 700;
    font-family: inherit;
    font-size: 12px;
	text-transform: none;
	font-family: 'Open Sans', sans-serif;
}
.drop_down .narrow .second .inner ul li {
    padding: 0;
    width: 129px;
    padding-left: -24px;
    color: #fff;
}
.drop_down .second .inner ul li {
    display: block;
    padding: 0 15px;
    position: relative;
    float: none;
    height: 25px;
    background: 0;
    color: #;
    width: 190px;
}
.i001-testimonial, .i001-testimonial div, .i001-testimonial p {
    font-style: italic;
}
.i001-testimonial {
    background: none;
    padding: 15px;
    overflow: hidden;
    position: relative;
}
.i001-testimonial:before {
    position: absolute;
    top: -40px;
    left: -15px;
    content: '\201C';
    font-size: 250px;
    font-family: georgia, serif;
    z-index: 5;
    color: #fe0000;
    filter: Alpha(opacity=20);
    opacity: 0.2;
    padding: 0 100px 100px 0;
}
.i001-testimonial-text {
    background: none;
    min-height: 30px;
    position: relative;
    z-index: 10;
}
.i001-testimonial-text:after {
    position: absolute;
    bottom: -40px;
    right: -100px;
    content: '\201D';
    font-size: 75px;
    font-family: georgia, serif;
    z-index: 5;
    color: #fe0000;
    filter: Alpha(opacity=20);
    opacity: 0.2;
    padding: 0 100px 0 0;
}
.para_container
{
padding-bottom: 17px;	
}

.i001-testimonial .i001-testimonial-attribution {
    text-align: right;
    font-style: normal;
    font-weight: bold;
}

.t115-content
{
	color: #000000;
    font-size: 16px;
}
.d_page-content2
{
    line-height: 16px;
    font-family: sans-serif;
    color: #000000;
    min-width: 200px;
}
.h1, h1 {
    font-size: 30px;
    line-height: 1.25em;
    font-family: 'Open Sans', sans-serif;
}

.footer_top .footer_col4 {
    position: absolute;
    z-index: 999;
    right: 12%;
    bottom: 20px;
    text-align: left;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.footer_top .footer_col1
{
	z-index: 999;
    position: absolute;
    left: 18%;
    bottom: 29%;
}
.footer_bottom_holder {
    display: block;
    background-color: #1b1b1b;
    height: 0px;
}
.h3-class-txt
{
	text-align: center;
    font-size: 23px;
    color: #000000;
    margin: 20px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding-left: 4%;
	width: 93%;
    padding-right: 0px;
    text-transform:none;
}
.class-list-txt
{
margin-left:32px;
}
.class-alignment-set
{
	padding-top:10px;
	padding-bottom:10px;
}
::selection {
    color: #fff;
    background: #3390FF;
}
.q_logo:after
{
	background: url(/matt/strut/wp-content/uploads/2017/07/logo_text-1.jpg) center center no-repeat;
    background-size: cover;
	content: '';
    width: 170px;
    height: 68px;
    position: absolute;
    right: -272px;
    top: -34px;
}
ul li.active a {
    font-weight: bold;
    text-decoration: underline;
    color: #fe0000;
	
}
